<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <% if devise_error_messages! %>
    <div class="alert-box alert">
      <%= devise_error_messages! %>
      <a href="" class="close">&times;</a>
    </div>
  <% end %>
  <fieldset class="five columns">
    <legend>Sign Up</legend>

  	<%= f.label :email %>
  	<%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign up", :class => "button" %>

    <section class="bottom-margin"></section>
    <br />
  </fieldset>
<% end %>
